In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [5]:
df = pd.read_csv('cars2.csv')
df.head(10)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo     1.0     790   99
1  Mitsubishi  Space Star     1.2    1160   95
2       Skoda      Citigo     1.0     929   95
3        Fiat         500     0.9     865   90
4        Mini      Cooper     1.5    1140  105
5          VW         Up!     1.0     929  105
6       Skoda       Fabia     1.4    1109   90
7    Mercedes     A-Class     1.5    1365   92
8        Ford      Fiesta     1.5    1112   98
9        Audi          A1     1.6    1150   99

In [30]:
#make a scale object
scale = StandardScaler()

x = df[['Weight', 'Volume']]
y = df['CO2']

scaledx = scale.fit_transform(x)
scaled[:10]

array([[ 4.22104928, -0.81116837]])

In [34]:
model = LinearRegression()
model.fit(scaledx, y)

scaled = scale.transform([[2300, 1.3]])
scaled

array([[ 4.22104928, -0.81116837]])

In [38]:
model.predict([scaled[0]])

array([107.2087328])