In [1]:
#import necessary modules
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
#read the csv file to a data frame
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
#handle missing values
#fill missiing bedrooms using a median
import math

median_bedroom = math.ceil(df.bedrooms.median())
median_bedroom

4

In [4]:
#fill the missing values
df.bedrooms = df.bedrooms.fillna(median_bedroom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
#cread a model
reg = linear_model.LinearRegression()
from sklearn.model_selection import train_test_split
x = df[['area', 'bedrooms', 'age']]
y = df['price']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)
#train the model
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [6]:
#check the coefficient
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [7]:
#check the intercept
reg.intercept_

221323.0018654043

In [8]:
#predict home price
reg.predict([[3000, 4, 15]])

array([602590.07937407])

In [10]:
reg.score(df[['area', 'bedrooms', 'age']], df.price)

0.9550196399325819